{% extends 'main_template.html' %}
{% block content %}

<form action="{{ url_for('update_stock') }}" method="POST">
    <button type="submit" class="mt-4 mb-4 me-2 btn btn-primary">Atualizar</button>
    <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
    <fieldset>
        <input type="hidden" name="stock_id" value="{{ stock_id }}">
    </fieldset>
    <fieldset>
        <div class="mt-4 mb-4">
            <label class="h3 fw-bolder" for="ticker">Ticker</label>
            <input autofocus required type="text" id="ticker" name="ticker"
                class="fw-bolder form-control form-control-lg text-uppercase"
                value="{{ stock.ticker }}">
        </div>
    </fieldset>
    <fieldset>
        <div class="mt-4 mb-4">
            <label class="h3 fw-bolder">Country: </label>
            <select name="country" class="fw-bolder form-select form-select-lg">
                <option value="BR" class="h4 fw-bolder" {% if stock.country=="BR" %} selected="selected"{% endif %}>BR</option>
                <option value="EUA" class="h4 fw-bolder" {% if stock.country=="EUA" %} selected="selected"{% endif %}>EUA</option>
            </select>
        </div>
    </fieldset>
</form>

{% endblock %}