{% extends 'main_template.html' %}
{% block content %}

<a class="btn btn-primary mt-4 mb-4" href="{{ url_for('new_stock') }}">Novo Ativo</a>
<table class="h4 align-middle text-center mt-4 mb-4 table table-striped table-responsive table-bordered">
    <thead>
        <tr>
            <th>Stock</th>
            <th>Country</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock.ticker }}</td>
            <td>{{ stock.country }}</td>
            <td>{% if stock.price=="get_price" %} 
                    <a class="ms-2 me-2 btn btn-success" href="{{ url_for('get_price', stock_id=loop.index)}}">Get Price</a>
                {% else %}{{ stock.price }}{% endif %}</td>
            <td><a class="ms-2 me-2 btn btn-warning" href="{{ url_for('edit_stock', stock_id=loop.index) }}">Edit</a>
                <a class="ms-2 me-2 btn btn-danger" href="{{ url_for('remove_stock', stock_id=loop.index) }}">Remove</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}