{% extends 'main_template.html' %}
{% block content %}

<a class="btn btn-primary mt-4 mb-4" href="{{ url_for('new_stock') }}">Novo Ativo</a>
<table class="h4 text-center mt-4 mb-4 table table-striped table-responsive table-bordered"> 
    <thead>
        <tr>
            <th>Stock</th>
            <th>Country</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.country }}</td>
                <td>{{ stock.price }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}